nav {
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold;
    float: left;
    width: 200px;
  }

nav a {
	text-decoration: none;
}

nav a:link { 
  color: #FEF6C2; 
}

nav a:visited {
color: #D2B48C;
}


nav a:hover{
color: #CC9933;
} 

nav ul {
  list-style-type: none;
	padding-left: 0;
}